<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.T2EntityMapper">
  <resultMap id="BaseResultMap" type="com.model.T2Entity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="string" jdbcType="VARCHAR" property="string" />
  </resultMap>
  <sql id="Base_Column_List">
    id, string
  </sql>
  <select id="selectByid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from table2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  select * from table2 order by id
  </select>
  <select id="getcount" resultType="int">
   SELECT COUNT(*) FROM table2 
  </select>
  <select id="selectSearch" resultMap="BaseResultMap">
   SELECT * FROM table2 
   	<if test="str!=null"> where string=#{string,jdbcType=VARCHAR}</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from table2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.T2Entity">
    insert into table2 (id, string)
    values (#{id,jdbcType=INTEGER}, #{string,jdbcType=VARCHAR})
  </insert>
  <insert id="insertT2Str" parameterType="com.model.T2Entity">
    insert into table2 (string)
    values (#{string,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.T2Entity">
    insert into table2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="string != null">
        string,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="string != null">
        #{string,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.T2Entity">
    update table2
    <set>
      <if test="string != null">
        string = #{string,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.T2Entity">
    update table2
    set string = #{string,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>